GrpcShared/bin/
GrpcShared/obj/
.vs/
Server/bin/
Server/obj/
.env

Apps/Client/Client/obj
Apps/Client/Client/bin

Apps/Client/Client.Android/obj
Apps/Client/Client.Android/bin

Apps/Client/Client.Browser/obj
Apps/Client/Client.Browser/bin

Apps/Client/Client.Desktop/obj
Apps/Client/Client.Desktop/bin

Apps/Client/Client.iOS/obj
Apps/Client/Client.iOS/bin